.bg-img {
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

.card .bg-img {
    height: 230px;
}

.bg-img .view {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: none;
}

.bg-img:hover .view {
    display: block;
}

.strong-0 {
    font-weight: 100;
}

.ex-small {
    font-size: 12px;
}

.links-list a.ex-small{
    font-size: 14px !important;
}

.links-list a.ex-small i {
    width: 20px;
}


/* MENU CSS */
/* 
.menu{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #ddb91f;
    width: 70px;
    border-radius: 25px;
    transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 9999;
 }

.menu--closed{
    height: 70px;
}

.menu--open{
    height: 200px;
}

.button{
    transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;;
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 2em;
    height: 2em;
    left: 27%;
    top: 20px;
    opacity: 1;
}

.button:hover {
    opacity: 0.6;
}

.button span{
    width: 100%;
    height: 4px;
    background-color: #161616;
    border-radius: 20%;
}

.menu--open .button{
    transform-origin: center;
    transform: rotate(90deg);
}

.tools{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 60%;
    justify-content: space-between;
    transition: 0.3s margin ease-in-out;
}


.tools .icon{
    transition: 0.2s transform ease-in-out;
}

.tools .icon:hover{
    transform: scale(0.8);
}

.tools--hidden{
    margin-top: 400px;
    z-index: -100;
}

.tools--visible{
    margin-top: 40%;
    z-index: 100;
} */





body.loading {
    background-color: #222;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
body.loading div.spinner {
    height: 21px;
    width: 21px;
    margin: 20px auto;
    border-radius: 50%;
    border: dashed 1px #D0CE03;
    -webkit-animation-name: loader-spin;
            animation-name: loader-spin;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  body.loading div.spinner.large {
    width: 43px;
    height: 43px;
    border-width: 3px;
  }
  @-webkit-keyframes loader-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

.form-group.lp-location-search {
    display: none !important;
}

.lp-search-bar {
    margin: inherit !important;
    background-color: transparent !important;
}