.bg-img {
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

.card .bg-img {
    height: 230px;
}

.bg-img .view {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: none;
}

.bg-img:hover .view {
    display: block;
}

.strong-0 {
    font-weight: 100;
}