.testimonial-heading{margin-top: 40px; margin-bottom: 40px; text-align:center;}
.testimonial{
  padding-top: 30px;
  padding-bottom: 30px;
}
.testimonial-subheading small::before {
  content: '(';
  padding-right: 5px;
}
.testimonial-subheading small::after{
  content:')';
  padding-left: 5px;
}
.testimonial-txt{
  font-style: italic;
}
.testimonial .carousel-indicators li{
  background-color: #0000ff;
}
.testimonial .carousel-indicators .active{background-color: #f00;}
.carousel-item.testimonial-item{min-height: 150px}
.carousel-txt{padding-top: 20px;}
.testimonial{margin-bottom: 50px;}
@media(max-width:910px){
  .carousel-item.testimonial-item{ min-height:450px; text-align: center;}
}